html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header Styles */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 120px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.logo {
	width: 300px;
}

.logo img {
	width: 150px;
}

.m-right {
	flex: 1 1 auto;/*
	padding: 15px 0;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.nav-list {
	display: flex;
	width: 100%;
}

.nav-list li {
	margin-right: 30px;
}

.nav-buttons {
	display: flex;
	flex-direction: row;
	width: 300px;
	justify-content: flex-end;
}

a {
	text-decoration: none;
	color: unset;
}

.nav-buttons a {
	padding: 10px;
	border-radius: 3px;
	margin-left: 10px;
}

.login {
	background-color: #3AC9EBFF;
}

.register {
	background-color: white;
	color: black;
}

.top {
	background: #3AC9EBFF;
	padding: 10px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-right: -120px;
}

.top span {
	margin-right: 30px;
}

.top select {
	float: right;
	padding: 5px;
	margin-right: 120px;
}

#hero {
	height: 100vh;
	background: url(../img/head.jpg);
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

.hero-text {
	height: 100%;
	align-self: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	color: white;
	line-height: 1.5;
}

.hero-text p {
	font-size: 1.5em;
}

.hero-text h1 {
	font-size: 3em;
	font-weight: bolder;
}

.hero-text a {
	background: white;
	width: 200px;
	align-self: center;
	color: #000000;
	padding: 8px;
	margin-top: 20px;
}

#abt-section {
    height: 550px;
    background-image: url(../img/aboutbg.jpg);
    background-size: 100% 550px;
    min-width: 1170px;
    background-repeat: no-repeat;
}

.abt-container {
    height: auto;
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0px;
}

.abt-title {
    height: auto;
    width: 100%;
}

.abt-title p {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    color: #2582d2;
    text-transform: uppercase;
    font-weight: bold;
}

.abt-text1 {
    height: auto;
    width: 97%;
    margin-top: 15px;
}

.abt-text1 p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.abt-text2 {
    height: auto;
    width: 160px;
    margin-top: 39px;
}

.abt-text2 a {
    color: #2582d2;
    background-color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

.abt-left {
    height: auto;
    width: 853px;
    float: left;
}

.abt-right {
    height: auto;
    width: 286px;
    float: right;
    margin-top: 39px;
}

.abt-right a{
    
}
